.body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.backgroundOne {
    background-color: #B7B7A4;
    width: 50vw;
    height: 100vh;
    z-index: -1;
}
.backgroundTwo {
    background-color: #FFE8D6;
    width: 50vw;
    height: 100vh;
    z-index: -1;
}
.coffeePic {
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 25%;
}